<div ng-controller="tabs" ng-init="get_receipt()" class="pages container">
	<!-- Page, "data-page" contains page name -->

    <!-- for loader start -->
    <md-progress-circular ng-show="loading" md-mode="indeterminate"></md-progress-circular>
    <!-- for loader stop -->
            
                <!-- tab design -->
            <!-- <div data-page="tabs" class="page toolbar-fixed navbar-fixed" data-page="tabs-animated"> -->

    <div class="content-block">
        <div class="row">
            <div class="col-sm-12">
                <h1>Firebase Angular CRUD</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <img src="{{img_url}}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input ng-model="title" type="text" class="form-control" id="title">
                            </div>
                            <div class="form-group">
                                <input ng-model="key" type="text" class="form-control hidden" id="key">
                            </div>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea class="form-control" rows="5" ng-model="description" id="description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="img_url">Image URL:</label>
                                <input type="text" ng-model="img_url" class="form-control" id="img_url">
                            </div>
                            <button ng-click="form_submit(title, description, img_url, key)" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-group pd10">
                            <li class='list-group-item' ng-repeat="single_value in receipts">
                                <span ng-click="get_val(single_value.key)"><h6>{{single_value.title}}</h6> {{single_value.description}}</span>
                                <button span ng-click="del_element(single_value.key)" class="pull-right btn btn-xs btn-default btn-danger">Delete</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- </div> -->
</div>